@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 300;
    src: url('fonts/latoli.eot');
    src: url('fonts/latoli.eot') format('embedded-opentype'), url('fonts/latoli.woff2') format('woff2'), url('fonts/latoli.woff') format('woff'), url('fonts/latoli.ttf') format('truetype'), url('fonts/latoli.svg#LatoLightItalic') format('svg');
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: url('fonts/latol.eot');
    src: url('fonts/latol.eot') format('embedded-opentype'), url('fonts/latol.woff2') format('woff2'), url('fonts/latol.woff') format('woff'), url('fonts/latol.ttf') format('truetype'), url('fonts/latol.svg#LatoLight') format('svg');
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/lator.eot');
    src: url('fonts/lator.eot') format('embedded-opentype'), url('fonts/lator.woff2') format('woff2'), url('fonts/lator.woff') format('woff'), url('fonts/lator.ttf') format('truetype'), url('fonts/lator.svg#LatoRegular') format('svg');
}
body {
    background: rgba(255,255,255,1);
    font-family: 'Lato', sans-serif;
}
#header-wrapper {
    position: relative;
    /*background: rgba(255,255,255,1);
    /* gradient gemaakt met Ultimate CSS Gradient Generator http://www.colorzilla.com/gradient-editor/ */
    background: rgb(82,193,250);
    background: -moz-linear-gradient(top,  rgba(82,193,250,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(82,193,250,1)), color-stop(100%,rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top,  rgba(82,193,250,1) 0%,rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top,  rgba(82,193,250,1) 0%,rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top,  rgba(82,193,250,1) 0%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom,  rgba(82,193,250,1) 0%,rgba(255,255,255,1) 100%);
    /* Einde gradient */
   /* border-bottom: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 3px 6px 0 rgba(82,193,250,1);*/
    z-index: 2;
}
#header-wrapper .col {
    margin-bottom: 0;
    width: 100%;
}
#header-logo h1 { width: 100% }
#header-logo h1 a {
    background: url("images/logo.png") no-repeat;
    display: block;
    width: 100px;
    height: 57px;
    text-indent: -999em;
    text-decoration: none;
    margin: 0 auto;
}
#navigation-wrapper {
    position: fixed;
    bottom: 0;
    background: rgba(82,193,250,1);
    border-top: solid 1px #efefef;
}
#navigation-wrapper .row { margin: 0 -1.075269% }
#navigation-wrapper .row>.col {
    margin: 0;
    width: 100%;
}
#navigation-wrapper nav#main-navigation>ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#navigation-wrapper nav#main-navigation>ul>li {
    float: left;
    width: 25%;
}
#navigation-wrapper nav#main-navigation>ul>li:hover {
    border-left: 1px solid rgba(255,2555,2555,1);
    border-right: 1px solid rgba(255,255,255,1);
}
#navigation-wrapper nav#main-navigation>ul>li>a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
    font-weight: 500;
    text-align: center;
    color: rgba(255,255,255,0.70);
}
#navigation-wrapper nav#main-navigation>ul>li>a>i {
    display: block;
    font-size: 1.6em;
}
#navigation-wrapper nav#main-navigation>ul>li.active { background: rgba(0,0,0,0.48) }
#navigation-wrapper nav#main-navigation>ul>li.active>a { color: rgba(221,211,211,0.86) }
#navigation-wrapper nav#main-navigation>ul>li:hover { background: rgba(82,193,250,1) }
#navigation-wrapper nav#main-navigation>ul>li:hover>a { color: rgba(255,255,255,1) }
.btn-container { }
.btn {
    float: right;
    background: rgba(82,193,250,0.80);
    color: #fff;
    padding: 6px 12px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 6px;
    box-shadow: inset 0 1px 2px 0 rgba(255,255,255,0.46);
    cursor: pointer;
}
.btn>i { margin-right: 12px }
.btn:hover { background: rgba(82,193,250,0.9) }
.btn:focus { outline: 0 }
.btn:active { background: rgba(82,193,250,1) }
.switches{
    margin-top: 60px;
}
.switches>div>i{
    color: rgba(82,193,250,1);
    font-size: 2em;
    cursor: pointer;
}
#settings-wrapper .btn {
    float: left;
    width: 250px;
    margin-left: 0;
}
#newlist-wrapper,
#info-wrapper {
    margin-bottom: 1.075269%;
    position: relative;
    overflow: hidden;
}
#formNewList,
#formNewTask,
#formEditTask { margin-top: 25px }
#txtNewListTags,
#txtNewList,
#txtNewTask,
#txtOpmerking,
#txtLocatie,
#txtEditList,
#txtEditTask,
#txtEditOpmerking,
#txtEditLocatie,
#txtNewTaskTags,
#txtEditTaskTags,
#txtEditListTags {
    width: 100%;
    height: 100%;
    padding: 5px;
    outline: 0;
    border: 0;
    border-bottom: 1px solid #52c1f9;
}
#toggle-deadline,
#toggle-deadline-edit,
#toggle-reminder,
#toggle-reminder-edit {
    font-size: 2em;
    color: rgba(82,193,249,1);
}
#toggle-deadline>i,
#toggle-deadline-edit>i,
#toggle-reminder>i,
#toggle-reminder-edit>i { cursor: pointer }
.elements {
    margin-top: 10px;
    font-weight: 300;
    text-align: left;
    color: #fff;
}
.elements>.element {
    position: relative;
    padding: 10px;
    min-height: 40px;
    width: 96%;
    margin: 2%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.element>.listed-task, .elements>.listed-task {
    color: #ffffff;
    position: relative;
    padding: 10px;
    min-height: 40px;
    margin: 2%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.element>.listed-task:first-of-type { margin-top: 3% }
.elements>.element>.task-content { margin: 0 60px }
.element>.listed-task>.listed-task-content { margin: 0 60px }
.elements>.listed-task>.listed-task-content { margin: 0 60px }
.elements>.element>.list-content { margin: 0 60px }
.elements>.element>.task-icon {
    position: absolute;
    top: -3px;
    left: 20px;
    color: rgba(255,255,255,1);
    font-size: 36px;
    cursor: pointer;
}
.element>.listed-task>.listed-task-icon, .elements>.listed-task>.listed-task-icon {
    position: absolute;
    top: -3px;
    left: 20px;
    color: rgba(255,255,255,1);
    font-size: 36px;
    cursor: pointer;
}
.elements>.element>.list-icon {
    position: absolute;
    top: -3px;
    left: 17px;
    color: rgba(82,193,249,1);
    font-size: 36px;
    cursor: pointer;
}
.elements>.element>.element-remove {
    position: absolute;
    top: 0;
    right: 6px;
    color: rgba(255,255,255,0.2);
    font-size: 32px;
    cursor: pointer;
}
.elements>.list>.element-remove {
    color: rgba(82,193,249,0.2);
}

.elements>.element>.element-edit {
    position: absolute;
    top: 0;
    right: 40px;
    color: rgba(255,255,255,0.2);
    font-size: 32px;
    cursor: pointer;
}
.elements>.list>.element-edit {
    color: rgba(82,193,249,0.2);
}
.elements>.list>.tags {
    position: relative;
    width: 100%;
    top: 8px;
    left: 8px;
}
.elements>.task>.tags {
    position: relative;
    width: 100%;
    top: 8px;
    left: 17px;
}
.elements>.task>.tags>.tag>i {
    padding-right: 10px;
}
.taskinfo {
    position: relative;
    width: 100%;
    top: 8px;
}
.note { left: 20px }
.location { left: 18px }
.date { left: 15px }
.reminder { left: 13px }
.note>span>i { margin-right: 21px }
.location>span>i { margin-right: 20px }
.date>span>i { margin-right: 15px }
.reminder>span>i { margin-right: 16px }
.elements>.element>.tags>.tag {
    display: inline-block;
    margin-right: 10px;
}
.elements>.element>.tags>.tag>i { margin-right: 5px }
.element>.listed-task>.listed-task-remove, .elements>.listed-task>.listed-task-remove {
    position: absolute;
    top: 0;
    right: 6px;
    color: rgba(255,255,255,0.2);
    font-size: 32px;
    cursor: pointer;
}
.element>.listed-task>.listed-task-edit, .elements>.listed-task>.listed-task-edit {
    position: absolute;
    top: 0;
    right: 40px;
    color: rgba(255,255,255,0.2);
    font-size: 32px;
    cursor: pointer;
}
.elements>.element>.element-remove:hover,
.elements>.element>.element-edit:hover,
.element>.listed-task>.listed-task-remove:hover,
.elements>.listed-task>.listed-task-remove:hover,
.elements>.listed-task>.listed-task-edit:hover,
.element>.listed-task>.listed-task-edit:hover { color: rgba(255,255,255,1) }
.elements>.list>.element-remove:hover, .elements>.list>.element-edit:hover {
    color: rgba(82,193,249,1);
}
.list {
    background: rgba(255, 255, 255, 1);
    width: 100%;
    color: rgba(82,193,249,1);
    border: solid 1px rgba(82,193,249,1);
}
.priority-zero { background: rgba(55,145,84,1) }
.priority-one { background: rgba(255, 127, 80, 1) }
.priority-two { background: rgba(148,111,176,1) }
.priority-tree { background: rgba(229,78,103,1) }
.priority-four { background: rgba(128,0,0,1) }
.completed { background: rgba(128,128,128,1) }
.colors {
    width: 100%;
    margin-bottom: 50px;
}
.colors .textbox {
    margin-left: 20px;
    height: 30px;
    float: left;
}
.pointer {
    cursor: pointer;
    text-align: center;
    color: #ffffff;
    padding-top: 2px;
    width: 30px;
    height: 30px;
    float: left;
    margin-left: 5px;
    border: 1px solid #808080;
}
.zero {
    margin: 0;
    background: rgba(55,145,84,0.80);
}
.zero:hover { background: rgba(55,145,84,1) }
.one { background: rgba(255, 127, 80, 0.80) }
.one:hover { background: rgba(255, 127, 80, 1) }
.two { background: rgba(148,111,176,0.80) }
.two:hover { background: rgba(148,111,176,1) }
.tree { background: rgba(229,78,103,0.80) }
.tree:hover { background: rgba(229,78,103,1) }
.four { background: rgba(128,0,0,0.80) }
.four:hover { background: rgba(128,0,0,1) }
.chooselist {
    text-align: left;
    margin-bottom: 15px;
}
p {
    margin-bottom: 5px;
    padding: 0;
}
#add-new-task, #add-new-list { cursor: pointer }
.push {
    visibility: hidden;
    height: 82px;
}
h1,
h2 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: 300;
    color: rgba(82,193,249,1);
}
h2 {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 0;
    padding-bottom: 0;
}
.left { text-align: left }
select {
    font-weight: 300;
    color: #fff;
    background: rgba(82,193,249,0.80);
    border-radius: 6px;
    padding: 5px;
    width: auto;
    height: auto;
}
.textbox {
    font-style: italic;
    font-weight: 300;
}
.listed-task-content,
.task-content,
.list-content {
    font-weight: 500;
    font-size: 14pt;
}
.note,
.location,
.tag { font-weight: 300 }
#elements-all {
    border: 0;
    width: 100%;
    margin-left: 0;
    padding: 1%;
}

/* POP UP STYLE */

.popup-overlay{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background: rgba(82, 193, 249, 0.3);
}

.popup{
    font-weight: bold;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    border: solid 2px rgba(255,255,255,1);
    background: rgba(82,193,249,1);
    position: absolute;
    width: 36%;
    top: 35%;
    left: 32%;
    z-index: 20;
}

.popup-text{
    padding: 2%;
    color: white;
}

.popup-button{
    margin-right: 10px;
}

.popup-button>.btn{
    background: rgba(255,255,255,0.80);
    color: rgba(82,193,249,1);
    margin-bottom: 10px;
    float: none;
    display: inline-block;
}

.popup-button>.btn:hover{
    background: rgba(255,255,255,1);
    color: rgba(82,193,249,1);
    margin-bottom: 10px;
    float: none;
    display: inline-block;
}

/* END POP UP */

/* FEEDBACK */
#feedback-wrapper>.container>a{
    text-align: center;
    cursor: pointer;
    color: rgba(82,193,249,1);
}
#feedback-wrapper>.container>a:hover{
    color: #ffffff;
}
#feedback-wrapper>.container>a>.row{
    padding-top: 10px;
}
#feedback-wrapper>.container>a:hover>.row{
    background: rgba(82,193,249,1);
}
#feedback>i{
    margin-top: -3px;
    float: right;
    font-size: 2em;
}
/* END FEEDBACK */
/* ABOUT */
.persona{
    width: 250px;
    height: 250px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
}
.top{
    margin-top:25px;
}
.center{
    margin:0 auto;
    text-align: center;
}
/* END ABOUT */
/* 404 */
#containererror{
    background:#52c1fa;
    width:100%;
    height:100%;
}
#header404{
    max-width:800px;
    margin:0 auto;
}
.titleerror{
    color:#fff;
    font-weight: 300;
    font-size:80px;
}
.titleerror a{
    transition: 500ms;
    color:#fff;
    text-decoration: none;
}
.titleerror a:hover{
    transition: 500ms;
    color:#379154;
}
.fullwidth{
    width: 100%;
}
/* END 404 */

@media (max-width: 399px) {
    h1 { font-size: 12pt }
    .popup{
        width: 96%;
        top: 35%;
        left: 2%;
    }
}
@media (max-width: 400px) {
    h1, .titleerror { font-size: 14pt }
    .mobile {
        visibility: hidden;
        margin: 0;
        padding: 0;
    }
    #navigation-wrapper { height: 40px }
    .popup{
        width: 96%;
        top: 35%;
        left: 2%;
    }
}
@media (min-width: 401px) and (max-width: 767px) {
    h1, .titleerror { font-size: 16pt }
    .mobile {
        visibility: hidden;
        margin: 0;
        padding: 0;
    }
    #navigation-wrapper { height: 40px }
    .popup{
        width: 70%;
        top: 35%;
        left: 15%;
    }
}
@media (min-width: 768px) {
    h1, .titleerror { font-size: 20pt }
    .mobile {
        visibility: hidden;
        margin: 0;
        padding: 0;
    }
    #navigation-wrapper { height: 40px }
    .popup{
        width: 60%;
        top: 35%;
        left: 20%;
    }
}
@media (min-width: 1200px) {
    .titleerror { font-size: 40pt }
    #navigation-wrapper { height: auto }
    .mobile { visibility: visible }
    .popup{
        width: 40%;
        top: 35%;
        left: 30%;
    }
}
a { color: rgba(82,193,249,1) }